# **Belajar Python**

##Variable

**Variables** : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi. Syarat-syarat penamaan Variabel
1. Karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter

In [1]:
a = "mangga, apel, rambutan"

In [2]:
#membuat variable
kalimat ='ini adalah variable'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j+4

In [3]:
# Menampilkan kode diatas
print((kalimat))
print( (bilangan1))
print((bilangan2))
print((bilangan3))
print((bilangan4))

ini adalah variable
4
2.5
True
(4+1j)

5 tipe data,yaitu:
1. INteger atau bilangan bulat
2. Float atau bilangan desimal
3. String atau Kalimat
4. Boolean yang terdiri dari True and False
5. Complex yang merupakan bilangan kompleks

In [4]:
print(type(bilangan4))
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))

<class 'complex'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
# buatlah 5 jenis variable dan tampilkan dengan fungsi print()
# Mendifinisikan variabel
sentence = "This is a python language"
number1 = 45
number2 = 4.90
number3 = False
number4 = 4j-90

In [6]:
#menampilkan dengan fungsi print() dan type()
print(f"{sentence} adalah tipe {type(sentence)}")
print(f"{number1} adalah tipe {type(number1)}")
print(f"{number2} adalah tipe {type(number2)}")
print(f"{number3} adalah tipe {type(number3)}")
print(f"{number4} adalah tipe {type(number4)}")

This is a python language adalah tipe <class 'str'>
45 adalah tipe <class 'int'>
4.9 adalah tipe <class 'float'>
False adalah tipe <class 'bool'>
(-90+4j) adalah tipe <class 'complex'>

 ## Belajar Python

### Belajar Python

#### Belajar Pyhon

In [7]:
print("Hello World")
for i in range(2):
  print(i)
  print("Hello world " + str(i))

Hello World
0
Hello world 0
1
Hello world 1

In [8]:
A="Belajar Struktur data string"
print(len(A))
print (A[:5])
print(A[8:16])
print(A[0])
print(A[-1])
print(not A[0] and not A[-1])
print(A[1:-1])

28
Belaj
Struktur
B
g
False
elajar Struktur data strin

In [9]:
#strip
z='rzl rdt P'
z
z.strip("z")

'rzl rdt P'

In [10]:
#replace
A="Belajar Struktur data string"
A.replace("u","i")

'Belajar Striktir data string'

In [11]:
#split
A="Belajar Struktur data string"
A.split(A)

['', '']

In [12]:
k_1 ="Belajar"
k_2 ="Bahasa"
k_3 ="Pemograman Python"
print(k_1 + k_2 +k_3)

#set
set_1 = {1,2,"Python",4j+4,4}
set_2 ={3, "C++",1, 4.0}
set_3 = {1,1,"Phyhon",}   # pebuktian jika set hanya menhambil satu data saja bila ada yang sama 2 atau lebih
print(set_3)
print(set_1.union(set_2)) # gabungan
print(set_1.intersection(set_2))  # irisan akan menganggap 1 float dan integer jika nilainya sama

BelajarBahasaPemograman Python
{1, 'Phyhon'}
{1, 2, 3, 4, 'C++', 'Python', (4+4j)}
{1, 4.0}

In [13]:
ganjil = {1,3,5,7,9}
genap = {2,4,6,8,10}
prima = {2,3,5,7}

#Union
print(ganjil.union(genap))

#Intersection
print(ganjil.intersection(prima))
print(ganjil.intersection(genap,ganjil))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 5, 7}
set()

In [14]:
D1={1:"keys", "values" :2}
print(D1)

dic_1 ={1:"Phython",
        2:"C++",
        3:"Dart", 
        4:"R"}
print(dic_1.values())
print(dic_1.keys())
print('')
print(f"dic_1 key 4 = {dic_1[4]},\n dic_1 key1 = {dic_1[1]},\ndic_1 key 4 = {dic_1[4]}")

{1: 'keys', 'values': 2}
dict_values(['Phython', 'C++', 'Dart', 'R'])
dict_keys([1, 2, 3, 4])

dic_1 key 4 = R,
 dic_1 key1 = Phython,
dic_1 key 4 = R

In [15]:
L2 =[3,'Tiga', False,2000, 7.0]
L2

D2 ={10: 'genap', 3+3j : 8, 5.5: True, 8: L2[0], 8j+2: L2[-3]} # mengambil dari list secara terpisah
D2 ={10: 'genap', 3+3j : 8, 5.5: True, 8: L2} # mengambil dari list keseluruhan
print(D2)
print(D2[5.5],D2[10])

{10: 'genap', (3+3j): 8, 5.5: True, 8: [3, 'Tiga', False, 2000, 7.0]}
True genap

In [16]:
bilangan_1 = 5
bilangan_2 = 10
kalimat = "pejuang data 3.0"

In [17]:
print(bilangan_1)
print(kalimat)

5
pejuang data 3.0

In [18]:
import matplotlib.pyplot as plt
import pandas as pd
pd = pd.read_csv('sample_data/mnist_test.csv')
print(pd.head(10))

   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
5  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
6  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
7  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
8  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
9  0  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0
5      0      0      0      0      0      0      0
6      0      0      0      0      0      0      0
7      0      0      0      0      0      0      0
8      0      0      0      0      0      0      0
9      0      0      0      0      0      0      0

[10 rows x 785 columns]

In [19]:
# ini adalah sel kode
"""
this is to define multiline
  comment
"""

'\nthis is to define multiline\n  comment\n'